body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
  line-height: 1.5;
  font-size: 22px;
}

.header {
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(6, 6, 149, 0.376);
}

.navbar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  position: absolute;
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(6, 6, 149, 0.376);
  align-items: center;
}

.navbar-list {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 1.1rem 0px;
  margin: 0px;
  width: 100%;
  font-weight: bold;
  gap: 30px;
  padding-inline-start: 65px;

  /* justify-content: space-evenly; */
}
.navbar-list li a {
  color: white;
  transition: 0.4s;
  position: relative;
  margin: 0px;
  padding: 0px;
  font-family: "Ubuntu", sans-serif;
}

.btn {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 60px;
}

.btn a {
  font-size: 1.2rem;
  color: white;
  transition: 0.4s;
  margin-right: 30px;
  font-weight: bold;
}

.btn a,
.navbar a {
  text-decoration: none;
  position: relative; /* necesario para el ::after */ /* quitamos subrayado normal */
  color: white;
  font-weight: 500;
}

.btn a::after,
.navbar a::after {
  content: ""; /* es obligatorio para que ::after aparezca.*/
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px; /* grosor de la raya */
  background-color: white;
  transform: scaleX(0); /* comienza en 0% */
  transform-origin: left; /* se expande desde la izquierda */
  transition: transform 0.3s ease; /* animación */
}
.btn a:hover::after,
.navbar a:hover::after {
  transform: scaleX(1); /* se llena hasta 100% */
}

.container {
  position: relative;
  height: 100vh;
  background: rgb(0, 0, 0);
  box-shadow: rgb(15, 53, 114) 0px 0px 40px -10px;
  /* box-shadow: 0px 10px 10px -5px rgba(15, 53, 114, 0.8); */
}
.banner {
  position: absolute;
  overflow: hidden;
  width: 100%;
  height: 100%;
  z-index: 0;
  opacity: 0.6;
  box-shadow: rgb(15, 53, 114) 0px 0px 40px -10px;
}
@media (max-width: 768px) {
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* cubre todo el contenedor sin deformarse */
    object-position: 40% 40% 40% 40%;
    opacity: 0.9;
  }
}

@media (max-width: 768px) {
  .header2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    inset: 0px;
    z-index: 0;
    background-color: rgb(0, 0, 0);
    height: 600px; /* muestra la iamgen */
  }
}
@media (max-width: 768px) {
  .header-title {
    position: absolute;
    z-index: 2;
    text-align: center;
    display: grid; /*alinear en dos columnas*/
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 768px) {
  .header-title {
    position: absolute;
    z-index: 2;
    text-align: center;
    display: grid; /*alinear en dos columnas*/
    font-family: "Poppins", sans-serif;
  }
}
@media (max-width: 768px) {
  .header-title2 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 60%;
    margin: 0px auto;
  }
}
.header-title h1 {
  color: white;
  font-size: 6.5rem;
  display: inline-block;
  padding: 0px;
  margin: 0px;
  line-height: 1.3;
  font-weight: bold;
  font-family: Fira Sans, sans-serif;
}
.header-imag {
  position: absolute;
  overflow: hidden;
  inset: 0px;
  z-index: 0;
  object-fit: cover;
  opacity: 0.25;
}
.image2 img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center center;
}
.title {
  position: relative;
  text-align: center;
  width: 100%;
  height: 100%;
}
.name {
  font-weight: 400;
  color: white;
  font-size: 8rem;
  display: inline-block;
  padding: 190px;
}
.name.name2 {
  font-weight: 400;
  font-size: 5rem;
  font-family: "Comfortaa", cursive !important;
}
#letter-d {
  text-shadow: rgb(255, 255, 255) 0px 0px 5px, rgb(255, 255, 255) 0px 0px 10px,
    rgb(45, 221, 244) 0px 0px 20px, rgb(45, 221, 244) 0px 0px 30px,
    rgb(45, 221, 244) 0px 0px 30px, rgb(45, 221, 244) 0px 0px 40px,
    rgb(45, 221, 244) 0px 0px 60px;
}
.container-p {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  box-shadow: rgb(15, 53, 114) 0px 0px 40px -10px;
}

.paragraph {
  margin: 150px 0px;
  font-size: 3rem;
  align-self: center;
  border-bottom: 3px solid rgb(45, 221, 244);
  border-top: 3px solid rgb(45, 221, 244);
  padding: 25px 20px;
  color: rgb(15, 53, 114);
  font-family: Comfortaa, cursive !important;
}
.info {
  width: 100%;
  color: white;
  background: rgb(3, 6, 64);
  display: grid;
  padding: 50px 0%;
  grid-template-columns: 40% auto;
  box-shadow: rgb(15, 53, 114) 0px 0px 30px -10px;
}
.content-image {
  width: 100%;
  display: flex;
  -webkit-box-pack: end;
  justify-content: flex-end;
}

.image img {
  position: relative;
  overflow: hidden;
  inset: 0px;
  z-index: 0;
  width: 20vw;
  height: 20vw;
  border-radius: 50%;
  min-width: 300px;
  min-height: 300px;
}
.content-description {
  width: 80%;
  margin: 0px auto;
  font-size: 1.3rem;
  line-height: 2rem;
}

.description strong {
  font-weight: bolder;
}

p a {
  text-decoration: none;
  color: rgb(45, 221, 244);
}

.footer {
  background: rgb(3, 5, 38);
  grid-template-columns: 1fr 2fr 1fr; /* izquierda | centro | derecha */
  height: 200px;
  margin-top: 360px;
  display: grid;
  position: relative;
}
.logo {
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-family: Comfortaa, cursive;
  font-size: 2rem;
}
.message {
  /* height: 100%; se desvorda  */
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: white;
  padding-top: 45px; /* controlas cuánto baja */
}
.message-h6 {
  font-weight: 400;
  color: white;
  font-size: 1.2rem;
  margin: 0px;
  padding: 0px;
}
.emoji {
  display: inline-block;
  margin: 0px 4px;
  width: 17px;
  fill: rgb(45, 221, 244);
}
.footer-p {
  padding-top: 5px;
  color: rgb(188, 217, 221);
  margin: 0px;
  font-size: 19px;
}
.Languages {
  color: rgb(45, 221, 244);
}
.footer-p1 {
  padding-top: 15px;
  color: white;
  /* position: absolute; */
  bottom: 15px;
  font-size: 21px;
}
.icons-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  /* justify-content: space-around; reparte todo el espacio sobrante */
}
.svg-container {
  width: 32px;
  fill: white;
}
.content-section {
  font-family: Ubuntu, sans-serif;
  gap: 30px;
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 0px auto;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px;
  position: relative;
  border-radius: 10px;
  top: -80px;
  padding: 0px 10% 150px;
}
.infomation {
  max-width: 800px;
  margin: 10rem auto 2rem;
}
h2 {
  font-weight: bold;
  text-align: center;
  line-height: 4rem;
  font-size: 48px;
  color: rgb(31, 41, 51);
}
.infomation-p {
  font-size: 1.3rem;
  line-height: 2.5rem;
}
.categories-list {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  flex-flow: wrap;
  width: 100%;
  padding: 0px;
  margin: 0px auto 100px;
}
.categories-list li {
  font-size: 32px;
  text-align: center;
  background: linear-gradient(135deg, #3b82f6, #6366f1, #8b5cf6);
  list-style-type: none;
  transition: 0.45s;
  color: rgb(255, 255, 255);
  display: inline-block;
  padding: 10px 25px;
  font-weight: bold;
}
.categories-list li:hover {
  transform: translateY(-6px) scale(1.07); /* sube y crece */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* sombra flotante */
  cursor: pointer;
}
.cards-container {
  display: flex;
}
.cards-container2 {
  margin-left: 54px;
  flex: 1 1 0%;
  min-width: 250px;
}
.card {
  display: flex;
  justify-content: center;
  flex-direction: column; /*coloca los hijos en columna (imagen arriba, texto abajo) */
  background-color: rgb(0, 23, 73);
  padding-bottom: 2rem;
  transition: 0.4s; /* suaviza cambios (ej: hover) */
  border-radius: 8px;
  margin-bottom: 54px;
}
.card:hover {
  transform: translateY(-6px) scale(1.07); /* sube y crece */
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2); /* sombra flotante */
  cursor: pointer;
}

.card-info {
  position: relative;
  overflow: hidden; /* oculta lo que se salga del contenedor */
  z-index: 0; /* capa base */
}

.card-container-image {
  position: relative; /* sirve para que su hijo absoluto (la img) se ubique dentro */
  overflow: hidden;
}
.card-image {
  width: 100%;
  padding-bottom: 52.4%; /* da altura proporcional al ancho, sin que la imagen se deforme*/
}
.card-image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* ajusta la imagen sin deformar, pero puede recortar */
  object-position: center center;
  opacity: 1;
  transition: opacity 500ms;
}
.card-text {
  color: rgb(221, 221, 221);
  width: 85%;
  margin: 0px auto;
  padding: 16px 16px 0px;
}
.card-text h4 {
  color: white;
  font-size: 24px;
  font-weight: bold;
  margin-top: 15px;
  margin-bottom: 20px;
  line-height: 2rem;
}
.card-tags {
  display: flex;
  flex-flow: wrap; /* permite que las tags pasen a la siguiente línea */
}
.tags {
  display: inline-flex; /* inline pero con propiedades de flex */
  width: auto;
  font-weight: bolder;
  background-color: rgb(0, 115, 215);
  color: white;
  padding: 5px 10px;
  border-radius: 45px;
  margin-bottom: 10px;
  margin-right: 10px;
  align-items: center;
}
.card-tags p {
  margin: 1em 0px 0px;
  font-size: 1.2rem; /* tamaño intermedio */
  color: rgb(241, 242, 244);
}
#btn-container {
  display: flex;
  width: 30%;
  padding: 20px 0px;
  margin: 60px auto 0px;
  background: rgb(6, 6, 149);
  color: white;
  font-weight: bold;
  font-size: 1.5rem;
  border-radius: 30px;
  justify-content: center;
  border: none;
  cursor: pointer;
}
.footer-no-margin {
  margin-top: 150px;
}
.icon {
  margin-left: 20px;
  display: inline-block;
  width: 28px;
}
/* /////// interfaz contacto*/

.header3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
  inset: 0px;
  z-index: 0;
  background-color: rgb(0, 0, 0);
  height: 450px;
}
.header3-container {
  position: absolute;
  overflow: hidden;
  inset: 0px;
  z-index: 0;
  opacity: 0.3;
}

.banner3-image {
  position: relative;
  overflow: hidden;
}
.banner3-placeholder {
  width: 100%;
  padding-bottom: 37.9167%; /* controla la proporción de la imagen */
}

.banner3-image img {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  object-fit: cover; /* rellena el espacio sin deformarse */
  object-position: center center;
  opacity: 1;
}
.title2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  margin-top: 3px;
}

.name-h2 {
  color: white;
  font-size: 1.1rem;
  letter-spacing: 4px;
  line-height: 1.28;
  font-family: "Poppins", sans-serif;
}
.contact-title {
  text-align: center;
  max-width: 700px;
  margin: 50px auto;
  line-height: 1.3;
  font-family: "Fira Sans", sans-serif;
}
.contact-social-media {
  display: flex;
  flex-direction: column;
  margin: 0px auto;
  max-width: 300px;
}
.contact-social-media a {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 30px;
  text-decoration: none;
  color: #010986;
}
.svg-container-social {
  width: 45px;
}
.svg-container-social cv {
  font-size: 80px;
}
.icon-pdf {
  transform: scale(1.4); /* lo agranda 30% */
}
h3 {
  font-size: 21px;
  margin: 0px 0px 0px 20px;
  font-weight: 500;
  line-height: 1.3;
  font-family: "Fira Sans", sans-serif;
}
.footer-contact {
  margin-top: 100px;
}
