body {
  font-family: "Poppins", sans-serif;
  margin: 0px;
  padding: 0px;
}
#header {
  display: flex;
  flex-flow: wrap;
  -webkit-box-align: center;
  align-items: center;
  width: 100%;
  /* position: absolute; */
  z-index: 3;
  top: 0px;
  left: 0px;
  right: 0px;
  background: rgba(6, 6, 149, 0.376);
}

.botones {
  margin-block-start: 1em;
  margin-block-end: 1em;
  padding-inline-start: 40px;
}

.botones a {
  text-decoration: none;
  color: white;
  transition: 0.4s;
  margin-right: 30px;
}

.botones a:hover {
  text-decoration: underline; /* activar subrayado */
  text-decoration-color: white; /* color de la raya */
  text-decoration-thickness: 2px; /* grosor de la raya */
  text-underline-offset: 3px; /* distancia del texto */
}
.mi-foto img {
  width: 200px; /* Ajusta el tamaño horizontal */
  height: 200px; /* Ajusta el tamaño vertical */
  border-radius: 50%; /* Borde redondeado completo (círculo) */
  object-fit: cover; /* Mantiene las proporciones y recorta si es necesario */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2); /* Sombra opcional para estilo */
  display: block; /* Opcional, evita problemas de alineación */
}
